/* tailwind */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

a{
    color: inherit;
}

body{
    font-family: 'Nunito', sans-serif;;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.table tr:nth-child(even){
    background-color: #eee;
}

.button{
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .header-show .header{
    visibility: visible;
  }

  .header{
    visibility: hidden;
  }

  .button{
    visibility: visible;
    color: #1f2937;
  }

  .header-show .button{
    color: #fff;
  }
}
