/* tailwind */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

a{
    color: inherit;
}

body{
    font-family: 'Nunito', sans-serif;;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.table tr:nth-child(even) {
    background-color: #eee;
}

.button {
  visibility: hidden;
}

.paginate a, .paginate em, .paginate span {
  @apply inline-block w-8 h-8 leading-8 text-center text-gray-800 not-italic;
}

.paginate .current {
  @apply bg-gray-800 text-white rounded;
}

.paginate .disabled {
  @apply text-gray-300;
}

@media only screen and (max-width: 768px) {
  .header-show .header {
    visibility: visible;
  }

  .header {
    visibility: hidden;
  }

  .button {
    visibility: visible;
    color: #1f2937;
  }

  .header-show .button {
    color: #fff;
  }
}
